<div id="editEntry">
	<table>
		<tr>
			<td>
				<label>Label:</label>
			</td>
			<td>
				<input type="text" ng-model="workout.label" />
			</td>
		</tr>
		<tr>
			<td>
				<label>note</label>
			</td>
			<td>
				<input type="text" ng-model="workout.note" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Date Time:</label>
			</td>
			<td>
				<label>{{dateString(workout)}}</label>
			</td>
		</tr>
		<tr>
			<td>
				<button ng-click="save()">Save</button>
			</td>
			<td>
				<button ng-click="delete()">Delete</button>
			</td>
		</tr>
	</table>
</div>