<div id="editEntry">
	<table>
		<tr>
			<td>
				<label>Label:</label>
			</td>
			<td>
				<input type="text" ng-model="workout.title" />
			</td>
		</tr>
		<tr>
			<td>
				<label>weigth</label>
			</td>
			<td>
				<input type="number" ng-model="workout.weight" />
			</td>
		</tr>
		<tr>
			<td>
				<label>reps</label>
			</td>
			<td>
				<input type="number" ng-model="workout.reps" />
			</td>
		</tr>
		<tr>
			<td>
				<label>sets</label>
			</td>
			<td>
				<input type="number" ng-model="workout.sets" />
			</td>
		</tr>
		<tr>
			<td>
				<button ng-click="save()">Save</button>
			</td>
			<td>
				<button ng-click="delete()">Delete</button>
			</td>
		</tr>
	</table>
</div>