body {
	font-size:1.5em;
	margin:0px;

	a {
		text-decoration: none;
		color:black;
	}

	li {
		list-style:none;
	}

	.centered {
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}

	nav {
		font-size:1.5em;
		background-color: #222;
		color:#999;
		ul {
			.centered;
			margin-top:0px;
			margin-bottom:0px;
			padding: 10px 20px 10px;
			overflow:auto;

			li{
				display:inline-block;
				a {
					color:#999;
					&:hover{
						color:white;
					}
				}
			}

			.addEntry{
				display:none;
				float:right;
			}
		}
	}

	.container {
		.centered;
	}

	.listPartial{
		table {
			margin-top:0.4em;
			width:100%;
			border-collapse:collapse;

			tr{
				border-bottom-style:solid;
				border-bottom-width:1px;
				padding: 0.2em;

				&:hover{
					cursor:pointer;
				}
			}
		}
	}

	#editEntry{
		table{
			width:100%;
			input, button, label {
				font-size:1.5em;
				width:100%;
			}
		}
	}

	#welcome {
		form{
			width:100%;
			input {
				width:100%;
				font-size:1.5em;
			}
		}
	}
}